<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Start of Open Graph -->
  <meta property="og:title" content="{{ .Title }}">
  {{ if .IsPage }}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
  {{ else }}
  <meta property="og:type" content="website">
  {{ end }}
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  {{ if .Params.image }}
  <meta property="og:image" content="{{ .Params.image | absURL }}">
  {{ end }}
  {{ range .Params.tags }}
  <meta property="og:tags" content="{{ . }}">
  {{ end }}
  <title> {{ .Site.Title }}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/site.css" | relURL }}">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../" style="
          background-image: url('{{ "img/logo.svg" | relURL }}');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          height: 50px;
          margin: 10px 50px auto 0 !important;
          width: 140px;
          "></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"><a  href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

