{{ partial "header.html" . }}

<main class="list">
    {{ if .Title }}
      <h1 class="list__title">{{ .Title }}</h1>
    {{ end }}

    <ul class="list__list">
      {{ range $key, $value := .Data.Terms }}
        <li class="list__item">
          <a class="list__link" href="{{ (print "/" $.Data.Plural "/" $key) | urlize | relLangURL }}">{{ $key }}</a>
          <span class="list__meta">{{ len $value }} post{{ if gt (len $value) 1}}s{{ end }}</span>
        </li>
      {{ end }}
    </ul>
  </main>

  {{ partial "footer.html" . }}
