{{ partial "header.html" . }}

<main class="post">
  <div class="post__container">
    <section class="post__content">
      {{if .Params.image }}
        <img  src="{{ .Params.image | relURL }}">
      {{ end }}
      <div class="meta">
        {{ if .Params.isdate }}
          <span class="meta__date">{{ .Date.Format "Jan 2 2006" }}</span>
        {{ end }}
      </div>        
      <h1 class="post__title">{{ .Title }}</h1>
      {{ .Content }}
    </section>
  </div>
</main>

{{ partial "footer.html" . }}
