<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ $baseurl := .Site.BaseURL }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Start of Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    {{ else }}
    <meta property="og:type" content="{{.Type}}">
    {{ end }}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ $currentLang := .Site.Language }}
    <meta property="og:locale" content="{{ $currentLang }}" />
      {{ range .Site.Languages }}
      <meta property="og:locale:alernative" content="{{ string . }}" />
      {{ end }}
    {{ if .Params.image }}
    <meta property="og:image" content="{{$baseurl}}{{ .Params.image }}">
    {{ end }}
    {{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
    {{ end }}
    <!-- End of Open Graph -->
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
  {{ if .Site.GoogleAnalytics }}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    ga('send', 'pageview');
    </script>
  {{ end }}

</head>

<body>
  <header class="header">
    <div class="header__wrapper">
      <div class="header__topnav">
        <a href="https://www.skycoin.net" class="header__link">&larr; skycoin.net</a>
        <div class="js-dropdown header-dropdown">
          {{ $currentLang := .Site.Language.LanguageName }}
          <div class="js-dropdown-current header-dropdown__current">{{ $currentLang }}</div>
          <div class="js-dropdown-list header-dropdown__list">
            {{ range .Site.Menus.languages }}
              <a class="js-dropdown-item header-dropdown__item {{ if eq $currentLang .Name }} header-dropdown__item_active {{ end }}" href="{{ .URL }}">{{ string .Name }}</a>
            {{ end }}
          </div>
        </div>
        <a href="{{ .Site.Params.rss }}" target="_blank" class="btn btn--pill btn--outline btn--blue header__btn">Subscribe (RSS)</a>
      </div>

      <a href="/">
        <img class="logo" alt="Skycoin Blog" src="{{ "/images/logo-outlined.svg" | relURL }}" />
      </a>

      <nav class="nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a class="nav__item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}nav__item--active{{end}}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>
  </header>
