{{ partial "header.html" . }}

<main class="post">
  <a class="back_link" href="javascript: history.back()">
    <img src="{{ "images/icArrow_2x.png" | absURL }}" /> Back to list
  </a>
  <div class="post__container">
    <section class="post__content">
      {{if .Params.image }}
        <img  src="{{ .Params.image | relURL }}">
      {{ end }}
      <div class="meta">
        {{ if .Params.isdate }}
          <span class="meta__date">{{ .Date.Format "Jan 2 2006" }}</span>
        {{ end }}
      </div>        
      <h1 class="post__title">{{ .Title }}</h1>
      {{if .Params.subhead }}
      <div class="nav subhead-links sourcefile" data-sourcefile=" {{ .Params.filename }} ">
        <a  class="nav__item" href="{{ .Site.Params.urlGit }}/edit/master{{  .Params.filename }}">Edit</a>
        <a  class="nav__item" href="{{ .Site.Params.urlGit }}/commits/master{{ .Params.filename }}">History</a>
        <a  class="nav__item" href="{{ .Site.Params.urlGit }}/issues/new?body=Source%20File%3A%20%0A%0A{{ .Params.filename }}">Report issue</a>
        <a class="nav__item" href="https://t.me/Skycoin">Discuss</a>
      </div>
      {{end}}      
      {{ .Content }}
    </section>
  </div>
</main>

{{ partial "footer.html" . }}
