<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ $baseurl := .Site.BaseURL }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
  <!-- Start of Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    {{ else }}
    <meta property="og:type" content="website">
    {{ end }}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ if .Params.image }}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
    {{ end }}
    {{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
    {{ end }}
  <!-- End of Open Graph -->
  {{ if .Site.GoogleAnalytics }}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    ga('send', 'pageview');
    </script>
  {{ end }}
</head>

<body>
  <header class="page-header">
    <div class="header-container">
      <div class="nav-wrapper">
        <div class="header-inner">
          <a href="//www.skycoin.net/" class="logo">
            <img src="{{ "/images/logo-outlined.svg" | relURL }}" alt="Skycoin">
          </a>
          <div>
            <button class="menu-toggle-btn menu-show-btn" onclick="toggleMenu(true)"></button>
            <div class="menu-overlay" style="display:none"></div>
            <div class="nav">
              <div class="nav-inner">
                <button class="menu-toggle-btn menu-hide-btn" onclick="toggleMenu(false)"></button>
                <div class="nav-group">
                  {{ partial "menu.html" . }}
                </div>
                <div class="nav-group mobile">
                  <a href="{{ .Site.Params.telegram }}" target="_blank" class="nav-link">
                    <img src="{{ "images/telegram.svg" | relURL }}" alt="Telegram">
                    Telegram
                  </a>
                  <a href="{{ .Site.Params.discord }}" target="_blank" class="nav-link">
                    <img src="{{ "images/discord.svg" | relURL }}" alt="Discord">
                    Discord
                  </a>
                </div>
                <div class="nav-group">
                  <a href="//www.skycoin.net{{ "/downloads" | relLangURL }}" class="nav-button">BUY SKYCOIN</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function toggleMenu(menuVisible)
      {
        if (menuVisible) {
          $('.menu-overlay').show();
          $('.nav-inner').addClass('visible');
          $('body').css('overflow', 'hidden');
        } else {
          $('.menu-overlay').hide();
          $('.nav-inner').removeClass('visible');
          $('body').css('overflow', 'auto');
        }
      }
    </script>
  </header>
  {{ partial "categories.html" . }}
