{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pagination">
    <li {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
      <a class="arrow" href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}"><i class="prev"></i></a>
    </li>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
      {{ $right := sub .TotalPages .PageNumber }}
      {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
      {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
      {{ if $showNumber }}
          {{ $.Scratch.Set "__paginator.ellipsed" false }}
          {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
      {{ else }}
          {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
          {{ $.Scratch.Set "__paginator.ellipsed" true }}
      {{ end }}
      {{ if $showNumber }}
        <li
          {{ if eq . $pag }}class="active"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
      {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
        <li class="disabled">&hellip;</li>
      {{ end }}
    {{ end }}
    <li {{ if not $pag.HasNext }}class="disabled"{{ end }}>
      <a class="arrow" href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}"><i class="next"></i></a>
    </li>
</ul>
{{ end }}
