<section class="signup">
  <div class="signup__container">
    <div class="signup__wrapper">
      <div class="signup__form-image">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAAATCAYAAAAQ/xqmAAAAAXNSR0IArs4c6QAAAPNJREFUWAnt2DEKwkAQheFEo2ChVoL3sfCOegC1E+xE7LX1KB4g/gMhGLJkBzLlW3gYN+MrPpagFoXWKIG6rq/kQdZDRZOhm7rnEvgytSP3HLarTUNpAXDn5EZsvcjgyU63aNclAK6wXVIBQ8IOQPRWCNsrFTAn7ABEb0UKu2TzSMHeW6I5t8CMyW0z/ay4WJJVs6GXOIH/3yiLuFo1tQI8JabkRGx9yKa9qYsYAVAN+UxsCTmGtdsCrJC7JPHvhBxv2msEuSIXYkuPi55QwAawQg5wzFYAfbBjzNJJzmqNGADY/vR/E32FG+GY/SjAZXaIgR/AlgKFWdofdAAAAABJRU5ErkJggg==">
      </div>
      <div class="signup__form-label">
        <span class="signup__label">Sign up to receive updates</span>
      </div>
      <div class="signup__form">
        <form action="//skycoin.us16.list-manage.com/subscribe/post?u=47a93630ab9172f29aff78b99&amp;id=264afe24a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
          <div class="mc-field-group signup__form-group">
            <input class="required email valid" placeholder="Enter Your Email" name="EMAIL" id="mce-EMAIL" aria-required="true" aria-invalid="false" type="email">
            <button class="btn white" type="submit" name="subscribe" id="mc-embedded-subscribe">Sign Up</button>
          </div>
          <div id="mce-responses" class="clear">
            <div for="mce-EMAIL" class="mce_inline_error" style="display: none;"></div>
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js" type="text/javascript"></script>
</section>
