.content-container {
  @include container($container-width-base);
}

.content-inner {
  margin: 0 -1rem;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content {
  width: 100%;

  @include desktop {
    width: 66.6666%;
    padding: 0 1rem;
  }
}
