.back_link {
  font-size: 12px;
  line-height: 13px;
  vertical-align: middle;
  margin-bottom: 22px;
  display: inline-block;
  img {
    width: 14px;
    margin-right: 10px;
  }
}

.post {
  @include container($container-width-base);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -2rem;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 30px;
    color: $dark-gray;
    font-weight: bold;    
  }

  .meta {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;

    &__date {
      color: $gray;
      font-size: 12px;
      line-height: 26px;
      height: 26px;
      margin-right: 30px;
    }

    &__link {
      color: $gray;
      font-size: 12px;
      line-height: 24px;
      border: 1px solid $gray;	
      border-radius: 13px;
      padding: 0 20px;
      margin: 0 10px 10px 0;
      height: 26px;

      &:hover {
        background: $gray;
        color: $white;
      }
    }
  }

  &__content {
    font-size: 14px;
    line-height: 26px;
    color: $dark-gray;
    width: 100%;
    padding: 0 2rem;

    img {
      display: block;
      max-width: 100%;
      margin-bottom: 44px;
      border-radius: 4px;
    }

    hr {
      border: 0;
      height: 2px;
      background-color: $light-gray;
      margin-bottom: 44px;
    }

    li > ul {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }

    dd, ol, ul {
      list-style-type: unset;
    }   

    ul {
      padding-left: 1rem;
      margin-bottom: 44px;
      line

      li {
        margin-bottom: 0.5rem;
      }
    }

    nav ul {
      display: none;
    }

    blockquote {
      border-left: 5px solid $light-gray;
      padding: 3px 1rem 3px;
      margin-bottom: 44px;

      p {
        margin: 0;
      }
    }
  }
}
