.navbar-brand{
	background-image: url('../img/logo.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 50px;
	margin: 10px 50px auto 0 !important;
	width: 140px;
}